* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  white-space: nowrap;
  overflow: hidden;
}

.row::after {
  display: block;
  clear: both;
  content: "";
}

@media screen and (min-width: 481px) {
  .nav--container {
    color: #FD8469;
    width: 100vw;
    height: 142px;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 2;
  }

  .brand--logo {
    font-size: 36px;
    text-align: left;
    line-height: 142px;
    font-weight: 700;
    align-self: flex-start;
    margin-left: 44px;
    text-transform: uppercase;
  }

  .brand--logo.active, .list--item.active {
    color: #fff;
  }

  .list--container {
    margin-left: auto;
  }

  .list--item {
    display: inline;
    align-self: flex-end;
    padding: 0 5vw;
    font-size: 18px;
    text-align: center;
    line-height: 142px;
    font-weight: 600;
  }

  .login, .profile {
    width: 140px;
    height: 45px;
    border-radius: 45px;
    border: none;
    background: none;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    outline: none;
  }

  .login:hover
  , .profile:hover {
    background: #fff;
    color: #FD8469;
    transition: all ease .6s;
  }

  .menu--burger {
    display: none;
  }
}
@media screen and (min-width: 481px) {
  #home--page {
    z-index: 0;
  }

  .hero--img--container {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    z-index: -2;
  }
  .hero--img--container .hero--img {
    width: auto;
    height: 100vh;
    z-index: -2;
    position: absolute;
    top: 0;
    right: 0;
  }

  .hero--img.active {
    width: auto;
    height: 100vh;
    z-index: -2;
    position: absolute;
    top: 0;
    right: -60vw;
  }

  .cta--container {
    width: 50%;
    height: auto;
    float: left;
    position: absolute;
    top: 50%;
    left: 1%;
    transform: translateY(-50%);
  }
  .cta--container .cta--header {
    font-size: 5vw;
    text-align: center;
    line-height: 92%;
    font-weight: 700;
    color: #FD8469;
  }
  .cta--container .cta--subheader {
    font-size: 1.1vw;
    text-align: center;
    line-height: 92%;
    font-weight: 600;
    color: #6FD5DF;
    padding: 1vw;
  }
  .cta--container .cta--button {
    width: 286px;
    height: 51px;
    font-size: 1.2vw;
    text-align: center;
    line-height: auto;
    font-weight: 500;
    border-radius: 51px;
    border: none;
    background: #FD8469;
    color: #fff;
    display: block;
    margin: .3vw auto;
  }

  .cta--container.active {
    position: absolute;
    left: -50vw;
  }

  .cta--container::after {
    display: block;
    clear: both;
    content: "";
  }

  .mobile--hero--img {
    display: none;
  }
}
#login--pannel {
  position: absolute;
  top: 0;
  left: -477px;
  display: block;
  width: 477px;
  height: 100vh;
  background: #FD8469;
  z-index: 2;
}

#login--pannel.active {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 477px;
  height: 100vh;
  background: #FD8469;
  z-index: 2;
}

.login--heading {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.login--logo {
  font-size: 36px;
  text-align: left;
  line-height: auto;
  font-weight: 700;
  margin: 44px 0 0 10%;
  color: #fff;
  text-transform: uppercase;
  z-index: 2;
}

.login--logo:hover {
  font-size: 36px;
  text-align: left;
  line-height: auto;
  font-weight: 700;
  margin: 44px 0 0 10%;
  color: #6FD5DF;
  text-transform: uppercase;
  transition: all .3s ease;
}

.fa-times {
  color: #fff;
  font-size: 36px;
  margin: 44px 44px 0 0;
  cursor: pointer;
  z-index: 2;
}

.fa-times:hover {
  color: #6FD5DF;
  font-size: 36px;
  margin: 44px 44px 0 0;
  cursor: pointer;
  transition: all .3s ease;
}

.login--container {
  margin-left: 7.5%;
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 50%;
  left: auto;
  transform: translateY(-50%);
}

.form--container {
  position: relative;
  width: 90%;
  height: 50px;
  overflow: hidden;
  border-radius: 25px;
  margin: 12px 0;
}

.form--input {
  width: 100%;
  height: 100%;
  color: #FD8469;
  padding-top: 20px;
  border: none;
  outline: none;
  padding-left: 25px;
  font-size: 16px;
  text-align: left;
  line-height: auto;
  font-weight: 600;
}

.form--label {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  font-size: 16px;
  text-align: left;
  line-height: auto;
  font-weight: 500;
  color: #6FD5DF;
}

.form--content {
  position: absolute;
  bottom: 14px;
  left: 25px;
  transition: all 0.3s ease;
}

.forgot--btn {
  font-size: 14px;
  text-align: center;
  line-height: 72px;
  font-weight: 600;
  color: #fff;
}

.forgot--btn:hover {
  color: #6FD5DF;
  transition: all .3s ease;
}

.signin--button {
  width: 90%;
  height: 50px;
  font-size: 18px;
  text-align: center;
  line-height: 50px;
  font-weight: 600;
  background: #6FD5DF;
  cursor: pointer;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 63px;
}

.signin--button:hover {
  background: #fff;
  color: #6FD5DF;
  transition: all .3s ease;
}

.fb--button {
  margin: 6px 0;
  display: flex;
  justify-content: space-between;
  padding: 0 50px 0 14px;
  align-items: center;
  font-size: 14px;
  text-align: center;
  line-height: 50px;
  font-weight: 500;
  width: 80%;
  height: 50px;
  background: #4267B2;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 63px;
}

.fa-facebook {
  font-size: 22px;
  margin-right: 10px;
}

.fb--button:hover {
  font-weight: 600;
  transition: all .3s ease;
}

.gg--button {
  margin: 6px 0;
  display: flex;
  justify-content: space-between;
  padding: 0 60px 0 14px;
  align-items: center;
  font-size: 14px;
  text-align: center;
  line-height: 50px;
  font-weight: 500;
  width: 80%;
  height: 50px;
  background: #f3f3f3;
  cursor: pointer;
  border: none;
  outline: none;
  color: #222;
  border-radius: 63px;
  text-transform: uppercase;
}

.fa-google {
  color: #4285F4;
  font-size: 25px;
  margin-right: 20px;
}

.gg--button:hover {
  font-weight: 600;
  transition: all .3s ease;
}

.form--input:focus + .form--label .form--content,
.form--input:valid + .form--label .form--content {
  transform: translateY(-120%);
  font-size: 12px;
  text-align: left;
  line-height: auto;
  font-weight: 500;
  color: #6FD5DF;
}

#profile--pannel {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 477px;
  height: 100vh;
  z-index: 2;
  pointer-events: none;
}

.profile--container {
  height: 100vh;
  width: 85%;
  margin-left: 7.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  pointer-events: none;
}

.dp--container {
  width: 275px;
  height: 275px;
  border-radius: 50%;
  background: #fff;
}

.prof--pic {
  border-radius: 50%;
}

.profile--name {
  font-size: 36px;
  text-align: left;
  line-height: auto;
  font-weight: 700;
  color: #fff;
  padding: 41px 0 18px 0;
}

.user--options {
  list-style: none;
  padding-bottom: 41px;
}

.user--options li {
  padding: 16px 0;
  font-size: 18px;
  text-align: left;
  line-height: auto;
  font-weight: 500;
  color: #fff;
  pointer-events: auto;
}

.user--options li:hover,
.user--options li:focus {
  transition: all .3s ease;
  color: #6FD5DF;
}

.sign--out--btn {
  width: 80%;
  height: 50px;
  font-size: 18px;
  text-align: center;
  line-height: 50px;
  font-weight: 600;
  background: #6FD5DF;
  cursor: pointer;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 63px;
  pointer-events: auto;
}

.sign--out--btn:hover {
  background: #fff;
  color: #6FD5DF;
  transition: all .3s ease;
}

.control--hero--img {
  width: 100vw;
  height: auto;
  z-index: -2;
  position: absolute;
  top: -40vh;
  left: 0;
}

.control--hero--img.active {
  width: 100vw;
  height: auto;
  z-index: -2;
  position: absolute;
  top: 0;
  left: 0;
}

#control--pannel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.control--list {
  list-style: none;
  height: 80vh;
  width: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 6vh;
  color: #6FD5DF;
  background: #FD8469;
  padding: 30vh 5vh;
}

#menu--btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  z-index: 2;
  position: relative;
  cursor: pointer;
  transition: all .5s ease-in-out;
}
#menu--btn .menu--burger {
  width: 28px;
  height: 3px;
  background: #fff;
  border-radius: 3px;
  transition: all .5s ease-in-out;
  z-index: 2;
}

.menu--burger::before,
.menu--burger::after {
  content: '';
  width: 28px;
  height: 3px;
  position: absolute;
  z-index: 2;
  background: #fff;
  border-radius: 3px;
  transition: all .5s ease-in-out;
}

.menu--burger::before {
  transform: translateY(-10px);
}

.menu--burger::after {
  transform: translateY(10px);
}

#menu--btn.open .menu--burger {
  background: transparent;
}

#menu--btn.open .menu--burger::before {
  transform: rotate(45deg);
}

#menu--btn.open .menu--burger::after {
  transform: rotate(-45deg);
}

@media screen and (max-width: 480px) {
  #home--page {
    overflow-y: hidden;
    position: relative;
    width: 100vw;
    height: 100vh;
  }

  .hero--img {
    display: none;
  }

  .hero--img--container {
    width: 100vw;
    height: 100vh;
    z-index: -2;
    position: absolute;
    top: 0;
    right: 0;
  }

  .mobile--hero--img {
    object-fit: cover;
    object-position: top;
  }

  .brand--logo {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 24px;
    text-align: 10vh;
    line-height: left;
    font-weight: 600;
    padding: 20px;
    color: #FD8469;
    text-transform: uppercase;
    z-index: 2;
  }

  .brand--logo.active {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 24px;
    text-align: 10vh;
    line-height: left;
    font-weight: 600;
    padding: 20px;
    color: #fff;
    text-transform: uppercase;
  }

  #menu--btn {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
  }

  .list--container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .list--container.active {
    background: #FD8469;
    padding: 10vh 0 40vh 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
  }

  .list--item {
    font-size: 18px;
    text-align: 24px;
    line-height: center;
    font-weight: 600;
    color: #fff;
  }

  .login, .profile {
    border: none;
    outline: none;
    font-size: 18px;
    text-align: 24px;
    line-height: center;
    font-weight: 600;
    color: #fff;
    background: none;
  }

  .cta--container {
    margin: 100% auto 0 10%;
    width: 80%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }

  .cta--header {
    font-size: 9vw;
    text-align: center;
    line-height: auto;
    font-weight: 600;
    color: #fff;
  }

  .cta--subheader {
    font-size: 3.5vw;
    text-align: center;
    line-height: 23px;
    font-weight: 500;
    color: #fff;
    white-space: normal;
    width: 80%;
    padding: 2vw 0 4vw;
  }

  .cta--button {
    width: 60%;
    height: 36px;
    outline: none;
    border: none;
    background: #6FD5DF;
    color: #fff;
    font-size: 4vw;
    text-align: center;
    line-height: 36px;
    font-weight: 600;
    border-radius: 36px;
  }

  #login--pannel.active {
    width: 100vw;
    z-index: 1;
  }

  .login--container {
    width: 80%;
    margin-left: 10%;
  }

  .login--logo {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 24px;
    text-align: auto;
    line-height: left;
    font-weight: 600;
    padding: 20px;
    margin: 0;
    color: #fff;
    text-transform: uppercase;
  }

  .fa-times {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
    text-align: auto;
    line-height: left;
    font-weight: 600;
    padding: 20px;
    margin: 0;
    color: #FD8469;
    z-index: 2;
  }

  .form--container {
    height: 40px;
    border-radius: 40px;
  }

  .form--input {
    padding-top: 10px;
  }

  .form--input, .form--label {
    font-size: 14px;
    text-align: left;
    line-height: auto;
    font-weight: 500;
  }

  .forgot--btn {
    font-size: 13px;
    text-align: left;
    line-height: auto;
    font-weight: 500;
  }

  .signin--button {
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    font-weight: 500;
    height: 40px;
    border-radius: 40px;
  }

  .fb--button, .gg--button {
    font-size: 13px;
    text-align: center;
    line-height: 40px;
    font-weight: 500;
    height: 40px;
    border-radius: 40px;
  }

  .fa-facebook {
    font-size: 18px;
  }

  .fa-google {
    font-size: 20px;
  }

  .form--input:focus + .form--label .form--content,
  .form--input:valid + .form--label .form--content {
    font-size: 10px;
    text-align: left;
    line-height: auto;
    font-weight: 400;
    transform: translateY(-70%);
  }

  #profile--pannel {
    width: 100vw;
  }

  .profile--container {
    width: 80%;
    margin-left: 10%;
    padding-bottom: 10vh;
  }

  .dp--container {
    width: 50vw;
    height: 50vw;
  }

  .profile--name {
    font-size: 24px;
    text-align: left;
    line-height: auto;
    font-weight: 600;
    padding: 16px 0;
  }

  .user--options {
    padding-bottom: 12px;
  }

  .user--options li {
    font-size: 14px;
    text-align: left;
    line-height: auto;
    font-weight: 500;
    padding: 0 0 12px 0;
  }

  .sign--out--btn {
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    font-weight: 500;
    height: 40px;
    border-radius: 40px;
  }
}

/*# sourceMappingURL=style.css.map */
