@import 'mixins';
@import 'variables';

.control--hero--img {
  @include image(100vw, auto, -2);
  position: absolute;
  top: -30vh;
  left: 0;
}

.control--hero--img.active {
  @include image(100vw, auto, -2);
  position: absolute;
  top: 0;
  left: 0;
}
