@import 'mixins';
@import 'variables';



#profile--pannel {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 477px;
  height: 100vh;
  z-index: 2;
  pointer-events: none;

}


.profile--container {
  height: 100vh;
  width: 85%;
  margin-left: 7.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  pointer-events: none;
}

.dp--container {
  @include w-h(275px, 275px);
  border-radius: 50%;
  background: #fff;

}

.prof--pic {
  border-radius: 50%;
}

.profile--name {
  @include fontform(36px, left, auto, 700);
  color: #fff;
  padding: 41px 0 18px 0;
}

.user--options{
  list-style: none;
  padding-bottom: 41px;
}

.user--options li{
  padding: 16px 0;
  @include fontform(18px, left, auto, 500);
  color: #fff;
  pointer-events: auto;
}

.user--options li:hover,
.user--options li:focus {
  transition: all .3s ease;
  color: $blue;

}

.sign--out--btn {
  @include w-h(80%, 50px);
  @include fontform(18px, center, 50px, 600);
  background: $blue;
  cursor: pointer;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 63px;
  pointer-events: auto;
}

.sign--out--btn:hover {
  background: #fff;
  color: $blue;
  transition: all .3s ease;
}
