@import 'mixins';
@import 'variables';

@media screen and (max-width: 1025px) {

  .list--item {
    padding: 0 2vw;
    color: #fff;
    font-size: 2vw;
    font-weight: 600;
  }

  #control--room:active, #control--room:hover{
    color: #fff;
  }
  .brand--logo {
    font-size: 3vw;
  }

  .login, .profile {
    font-size: 2vw;
    font-weight: 600;
    margin-right: 1vw;
    padding: 10px 10px;
    line-height: 45px;
  }

  .hero--img {
    display: none;
  }

  .mobile--hero--img {
    display: block;
    height: auto;
    width: 100vw;
    position: absolute;
    top: -15vh;
    right: 0;
    z-index: -2;
  }

  .cta--container {
    width: 100vw;
    height: auto;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -40%);
  }

  .cta--header {
    color: #fff;
    font-size: 7.5vw;
  }

  .cta--subheader {
    color: #fff;
    font-size: 2.2vw;
    padding: 3vh 0;
  }

  .cta--button {
    background: $blue;
    border-radius: 80px;
    font-size: 3vw;
    height: 80px;
    width: 120px;
    @include w-h(auto, auto);
    line-height: 80px;
    padding: 0 30px;

  }

  .login--container {
    top: 40%;
  }

  .mobile--hero--img.active {
    right: -100vh;
  }

  .control--hero--img.active {
    width: 150vw;

  }

  #control--pannel.active {
    overflow: hidden;
    position: relative;
  }
}
